.amenities, .reviews {
    margin-top: 40px;
}

.amenities h2, .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities ul, .reviews ul {
    list-style: none;
}

.amenities ul li, .reviews ul li {
    padding-left: 20px;
    position: relative;
}

.amenities ul li:before, .reviews ul li:before {
    content: "\2022"; /* Bullet point */
    position: absolute;
    left: 0;
}

.amenities h2, .reviews h2 {
    margin-bottom: 10px;
}

.reviews h3 {
    font-size: 14px;
    font-weight: normal;
}

.reviews p {
    font-size: 12px;
    margin-top: 5px;
}

.places article {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
