body {
    margin: 0;
    padding: 0;
    font-color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    width: 100px;
    height: 100%;
    background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
